<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
    <add key="local" value="./nuget" />
  </packageSources>

  <packageSourceMapping>
    <packageSource key="local">
      <package pattern="Jellyfin.CodeAnalysis" />
    </packageSource>
    <packageSource key="nuget">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>