name: Release

on:
  workflow_dispatch:

jobs:
  release:
    runs-on: ubuntu-latest
    
    permissions:
      contents: write
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.RELEASE_TOKEN }}
          fetch-depth: 0
      
      - name: Configure Git
        run: |
          git config user.name "${{ github.repository_owner }}"
          git config user.email "${{ github.event.pusher.email || format('{0}@users.noreply.github.com', github.repository_owner) }}"
      
      - name: Set up git-cliff
        uses: kenji-miyake/setup-git-cliff@v1

      - name: Run make release
        run: make release
        env:
          GITHUB_TOKEN: ${{ secrets.RELEASE_TOKEN }}